@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Roboto');



*{
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
    width:100vw;
    height:100vh;
  }
.flex{
    display:flex;
}

.grid {
    display:grid;
}
.space-around{
    justify-content: space-around
}
.space-between{
    justify-content: space-between
}

.column{
    flex-direction: column;
}
.align-center{
    align-items: center
}